/*FOOTER*/
footer {
    background-image: linear-gradient(to top, rgb(33, 50, 94),rgb(62, 73, 122) );   
    color: rgb(240, 240, 240);
    margin-top: 10px;
    text-align: center;
    bottom: 0;
}
.containerFooter {
    display: flex;
    flex-direction: column;
    bottom: 0px;
    width: 100%;
}

footer figure img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 15px;
}

footer figure img:hover{
    border: 3px solid rgb(241, 208, 10);
}