/* selector (puede ser una etiqueta, una clase(.clase), un id(#id)) - propiedad - valor */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import "variables";
@import "generales";
@import "operaciones";

*{  
    padding: 0;
    margin: 0;
}

body{
    background-color: $backgroundOscuro;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.tamañoBody{
    min-height: calc(100vh - 50px - 120px)
}

.color-back {
    background-color: $backgroundClaro;
}

.navbar {
    border-bottom: 2px solid $detallesAmarillo;
}

.color-list{
    color: $colorTxt;
}

.color-list:hover{
    color: $detallesAmarillo;
}

h1 {
    color: $colorTxt;
    text-align: center;
    padding-top: 10px;
}

h2 {
    color: $colorTxt;
    text-align: center;
}

.introduccion {
    color: $colorTxt;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px 10px 10px;
    img {
        @include tamaño (200px, 125px);
        border: solid $detallesAmarillo 3px;
    }
}

.cronograma {
    text-align: center;
    padding-top: 10px;
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr;
    color: $colorTxt;
    padding: 10px;
    li{
        border-bottom: 1px solid $detallesAmarillo;
        border-right: 1px solid $detallesAmarillo;
        font-size: x-small;
        background-color: $backgroundClaro;
    }    
}

.dayName, .horario {
    background-color: $detallesAmarillo;
    font-weight: bold;
    color: $backgroundClaro;
}

.firstDay {
    grid-column-start: 2;
}

.ubi {
    color: $colorTxt;
    text-align: center;
    li {
        list-style: none;;
    }
}

.boton-form {
    background-color: $detallesAmarillo;
    border-radius: 5px;
}

.boton-form:hover {
    background-color: blue;
    color: $colorTxt;
}

.mactividades{
    display: flex;
    flex-wrap: wrap;
}

.contenedorActividad {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
}

.actividad{
    @extend.configTarjetas;
}

.actividad:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5)
}

.mplanes {
    display: flex;
    flex-wrap: wrap;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
}

.tarjeta{
    @extend.configTarjetas;
}

.tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5)
}

@media (min-width:768px) {
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .introduccion {
        color: $colorTxt;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: x-large;
        img {
            @include tamaño (400px, 250px)
        }
    }

    .actividad{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 130px;
        
    }

    .actividadContenido{
        display: flex;
        flex-direction: column;
    }

    .actividad img{
        @include tamaño (200px, 200px)
    }
  
    .ubi iframe {
        @include tamaño (400px, 400px)
    }
    ol {
        grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
        padding: 30px;
        li{
            font-size: large;
        }    
    }
}

@media (min-width:1024px) {
    .introduccion {
        font-size: xx-large;
    }

    .ubi iframe {
        @include tamaño (500px, 500px)
    }
}
