/* selector (puede ser una etiqueta, una clase(.clase), un id(#id)) - propiedad - valor */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{  
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(62, 73, 122);
    font-family: 'Poppins', sans-serif;
}

/*HEADER*/

header{
    background-color: rgb(33, 50, 94);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;    
}

nav ul li a{
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-size: 30px; 
    padding: 10px;
    float: right;   
}

/* nav ul img{
    max-width: 75px;
    max-height: 75px;
    padding-top: 10px;
} */



h1{
    text-align: center;
    color: rgb(240, 240, 240);
}

main{
    margin: 60px 0px 0px 50px;
}

/*PLANES*/

.contenedor{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
}

.tarjeta{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    border: 5px solid rgb(33, 50, 94);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    color: rgb(33, 50, 94);
    background-color: rgb(241, 208, 10);
}

.tarjeta img{
    width: 300px;
    height: 300px;
}

section {
    color: rgb(240, 240, 240);
}

section h1{
    margin: 60px 10px 5px 70px;
}

main section img{
    max-width: 1536px;
    max-height: 512px;
}

#vid h2{
    margin: 60px 10px 0px 170px;
}

#vid iframe{
    padding: 20px;
    margin-bottom: 4px;
    margin-left: 50px;
    border: 10px solid rgb(241, 208, 10);
}

.ubi{
    padding: 20px;
}

.ubi ul li {
    list-style-type: none;
    text-decoration: none;
}



.ubi img{
    max-width: 500px;
    max-height: 500px;
    border: 6px solid rgb(241, 208, 10);
}


/*FOOTER*/

footer {
    background-color: rgb(33, 50, 94);    
    color: rgb(240, 240, 240);
    padding: 10px;
    margin-bottom: 0px;
}

footer figure{
    padding: 5px;
}

footer figure img{
    max-width: 50px;
    max-height: 50px;
}






header{
    font-size: large;
    display: grid;
    justify-content: center;
    background-color: rgb(33, 50, 94);
}


header nav ul li{    
    list-style: none;    
    text-transform: uppercase;
}



nav ul li a{
    text-decoration: none;
    color: rgb(240, 240, 240);      
}