/* selector (puede ser una etiqueta, una clase(.clase), un id(#id)) - propiedad - valor */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{  
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(62, 73, 122);
    font-family: 'Poppins', sans-serif;
}
/*----------------------------------------------------------------*/
/*HEADER*/
.color-back {
    background-color: rgb(33, 50, 94);
}
.navbar {
    border-bottom: 2px solid rgb(241, 208, 10);
}
.color-list{
    color: rgb(240, 240, 240);
}
.color-list:hover{
    color: rgb(241, 208, 10);
}
/*----------------------------------------------------------------*/
/*CONTENIDO*/
h1 {
    color: rgb(240, 240, 240);
    text-align: center;
    padding-top: 10px;
}

h2 {
    color: rgb(240, 240, 240);
    text-align: center;
}

/*CONTACTO*/
.ubi {
    color: rgb(240, 240, 240);
    text-align: center;
}

.ubi ul li {
    list-style: none;
}

.ubi img {
    max-width: 300px;
    max-height: 300px;
    border: 6px solid rgb(241, 208, 10);
}

.boton-form {
    background-color: rgb(241, 208, 10);
    border-radius: 5px;
}

.boton-form:hover {
    background-color: blue;
    color: rgb(240, 240, 240);
}
/*PLANES*/
.mplanes {
    display: flex;
    flex-wrap: wrap;
}

.contenedor{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
}

.tarjeta{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    color: rgb(240, 240, 240);
    background-color: rgb(33, 50, 94);
}

.tarjeta img{
    width: 300px;
    height: 300px;
}

.tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5)
}


/*----------------------------------------------------------------*/


/*FOOTER*/
footer {
    background-image: linear-gradient(to top, rgb(33, 50, 94),rgb(62, 73, 122) );   
    color: rgb(240, 240, 240);
    padding: 10px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: auto;
}

footer figure img{
    max-width: 50px;
    max-height: 50px;
}

footer figure img:hover{
    border: 3px solid rgb(241, 208, 10);
    border-radius: 15px;
}

/*----------------------------------------------------------------*/
@media (min-width:320px) {

}
/*----------------------------------------------------------------*/
@media (min-width:768px) {


  
}
/*----------------------------------------------------------------*/
@media (min-width:1024px) {
    
}
/*----------------------------------------------------------------*/